<% if @course.banner.attached? %>
  <%= image_tag @course.banner %>
<% end %>
<h1><%= @course.name %></h1>
<dl>
  <dt><%= Course.human_attribute_name(:description) %></dt>
  <dd><%= @course.description %></dd>
  <dt>Código</dt>
  <dd><%= @course.code %></dd>
  <dt>Preço</dt>
  <dd><%= number_to_currency @course.price %></dd>
  <dt>Data limite de matrícula</dt>
  <dd><%= l @course.enrollment_deadline %></dd>
  <dt>Instrutor(a)</dt>
  <dd><%= @course.instructor.name %></dd>
</dl>
<% if user_signed_in? %>
  <% if current_user.courses.include?(@course) %>
    <%=  link_to 'Ver aulas', course_lessons_path(@course) %>
  <% else  %>
    <%= link_to 'Comprar', enroll_course_path, method: :post, class: 'btn btn-primary' %>
  <% end %>
<%else %>
  <%= link_to 'Comprar', new_user_session_path %>
<%end%>

<%= link_to 'Voltar', courses_path %>

<% if @course.lessons.empty? %>
  Nenhuma aula disponível
<% else %>
  <% @course.lessons.each do |lesson| %>
    <%= link_to lesson.name, admin_course_lesson_path(lesson) %>
    <%= t('lesson.length', count: lesson.length) %>
  <% end %>
<%end %>
