<h1>Instrutores</h1>
<% if @instructors.empty? %>
  <h2>Nenhum professor disponível <h2>
<% end %> 
<% @instructors.each do |instructor| %>
  <% if instructor.profile_picture.attached? %>
    <%= image_tag instructor.profile_picture %>
  <% end %>
  <%= link_to instructor.name, instructor %> 
  <%= instructor.email %>
  <%= instructor.bio %>
<%end %>

<%= link_to 'Voltar', root_path %>
