<% if @course.banner.attached? %>
  <%= image_tag @course.banner %>
<% end %>
<h1><%= @course.name %></h1>
<dl>
  <dt><%= Course.human_attribute_name(:description) %></dt>
  <dd><%= @course.description %></dd>
  <dt>Código</dt>
  <dd><%= @course.code %></dd>
  <dt>Preço</dt>
  <dd><%= number_to_currency @course.price %></dd>
  <dt>Data limite de matrícula</dt>
  <dd><%= l @course.enrollment_deadline %></dd>
  <dt>Instrutor(a)</dt>
  <dd><%= @course.instructor.name %></dd>
  <dd>
    <%if @course.published? %>
      Publicado
    <% else %>
      Rascunho
      <%= link_to 'Publicar', publish_admin_course_path(@course), method: :post %>
    <%end %>
  </dd>

</dl>

<%= link_to 'Editar', edit_admin_course_path(@course) %>
<%= link_to 'Apagar', admin_course_path(@course), method: :delete %>
<%= link_to 'Ver Aulas',admin_course_lessons_path(@course) %>
<%= link_to 'Voltar', admin_courses_path %>

<% if @course.lessons.empty? %>
  Nenhuma aula disponível
<% else %>
  <% @course.lessons.each do |lesson| %>
    <%= link_to lesson.name, admin_course_lesson_path(@course,lesson) %>
    <%= t('lesson.length', count: lesson.length) %>
  <% end %>
<%end %>
<%= link_to 'Cadastrar Aulas', new_admin_course_lesson_path(@course) %>