<!DOCTYPE html>
<html>
  <head>
    <title>Codeplay</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.0.1/dist/zephyr/bootstrap.min.css">
  </head>

  <body>

  <% if user_signed_in? && current_user.admin?%>
    <%= render 'layouts/admin_navbar' %>
  <% else %>
    <%= render 'layouts/navbar' %>
  <%end %>
    <% if notice %>
      <div class="alert alert-dismissible alert-success">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <%= notice %>
      </div>
    <% end %>
    <% if alert %>
     <div class="alert alert-dismissible alert-warning">
       <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
       <h4 class="alert-heading">Opa!</h4>
       <%= alert %>
     </div>
    <% end %>
    <%= yield %>
  </body>
</html>
